<a href="https://colab.research.google.com/github/gorae17/Colab_test/blob/master/0412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!ls /gdrive/My\ Drive/Colab\ Notebooks/

캐글스터디  04122.ipynb  0412.ipynb  AClassification.train.txt

In [0]:
import numpy as np
import pandas as pd
import sys
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import fbeta_score
from sklearn.metrics import accuracy_score

Ep = sys.float_info.epsilon
beta=0.5

def _fbscore(pre, rec, beta=0.5):
  return (beta*beta+1)*pre*rec/(beta*beta*pre+rec+Ep)

In [0]:

data = open('/gdrive/My Drive/Colab Notebooks/AClassification.train.txt','r').readlines()
data = [line.strip().split('\t') for line in data]
df = pd.DataFrame.from_records(data, columns=['id','labels','features'])
df['features'] = df['features'].apply(lambda x: " ".join([tok.split('/')[0] for tok in x.split(' ')[:300]]))
categories = list(range(0, 20))
for i in categories:
  df[i] = df['labels'].apply(lambda x: 1 if i in [int(y) for y in x.split()] else 0)

SVC_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', OneVsRestClassifier(LinearSVC(), n_jobs=1)),
])
LogReg_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', OneVsRestClassifier(LogisticRegression(solver='sag'), n_jobs=1)),
])

models = {'SVC':SVC_pipeline, 'LR':LogReg_pipeline}

In [0]:
df.head()

,id,labels,features,0,1,2,3,4,5,6,...,10,11,12,13,14,15,16,17,18,19
0,7510,0,33 60 1531 373 539 28 36 852 33 6698 24 36 279...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4344,0,1494 10215 3339 10216 1494 10215 4956 1776 495...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2508,0,789 1730 4931 342 677 48 6443 342 677 20 883 2...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7067,1 0,57 1547 173 199 36 233 198 202 57 1547 173 199...,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6471,0,298 1969 298 1969 886 574 106 366 539 401,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
tdf = df[:10].copy()

In [0]:
tdf

,id,labels,features,0,1,2,3,4,5,6,...,10,11,12,13,14,15,16,17,18,19
0,7510,0,33 60 1531 373 539 28 36 852 33 6698 24 36 279...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4344,0,1494 10215 3339 10216 1494 10215 4956 1776 495...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2508,0,789 1730 4931 342 677 48 6443 342 677 20 883 2...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7067,1 0,57 1547 173 199 36 233 198 202 57 1547 173 199...,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6471,0,298 1969 298 1969 886 574 106 366 539 401,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,204,0,75 1323 75 518 339 598 20 271 61 62 1324,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,3815,1 0,9395 403 173 249 287 258 1112 804 249 20 804 9...,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2449,0,639 7350 7351 97 48 7352 91 7350 7351 97 713 4...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,4387,0,23 250 23 119 695 23 21 271,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3446,0,302 914 588 589 914 548 737 20 246 10 2655 893...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
tdf['sum'] = tdf[list(range(0,20))].apply(sum)

In [0]:
tdf

,id,labels,features,0,1,2,3,4,5,6,...,11,12,13,14,15,16,17,18,19,sum
0,7510,0,33 60 1531 373 539 28 36 852 33 6698 24 36 279...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,4344,0,1494 10215 3339 10216 1494 10215 4956 1776 495...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,2508,0,789 1730 4931 342 677 48 6443 342 677 20 883 2...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7067,1 0,57 1547 173 199 36 233 198 202 57 1547 173 199...,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6471,0,298 1969 298 1969 886 574 106 366 539 401,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,204,0,75 1323 75 518 339 598 20 271 61 62 1324,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,3815,1 0,9395 403 173 249 287 258 1112 804 249 20 804 9...,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2449,0,639 7350 7351 97 48 7352 91 7350 7351 97 713 4...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,4387,0,23 250 23 119 695 23 21 271,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3446,0,302 914 588 589 914 548 737 20 246 10 2655 893...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
tdf[list(range(0,20))]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [0]:
train, test = train_test_split(df, random_state=42, test_size=0.3, shuffle=True)
x_train = train.features
x_test = test.features

method = 'SVC'
model = SVC_pipeline
for category in categories:
  print('... {} Processing {}'.format(method, category))
  model.fit(x_train, train[category])
  prediction = model.predict(x_test)
  test['p{}'.format(category)] = prediction[:]
  print('Test acc {}, fbs {}'.format(
      accuracy_score(test[category], prediction), 
      fbeta_score(test[category], prediction, 0.5)))

... SVC Processing 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9844611254177853, fbs 0.6555978474865468
... SVC Processing 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9862802038244479, fbs 0.8907682901976768
... SVC Processing 2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9913210235055614, fbs 0.8404149652356252
... SVC Processing 3

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9958906361295271, fbs 0.9365517241379311
... SVC Processing 4

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9928003944989315, fbs 0.8620155038759689
... SVC Processing 5

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9760122733000931, fbs 0.9665378699778668
... SVC Processing 6

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9538436250068489, fbs 0.7680763614731491
... SVC Processing 7

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9887348638430771, fbs 0.8229977886741658
... SVC Processing 8

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9892937373294614, fbs 0.9106060606060605
... SVC Processing 9

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9973480905155881, fbs 0.9723031126642074
... SVC Processing 10

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9892170292038792, fbs 0.9459513442256222
... SVC Processing 11

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9915511478823078, fbs 0.8976564179746293
... SVC Processing 12

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9728124486329516, fbs 0.8345561887861312
... SVC Processing 13

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9896115281354446, fbs 0.8973665223665225
... SVC Processing 14

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9616130622979563, fbs 0.7856700101431309
... SVC Processing 15

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9960659689880007, fbs 0.9438957336320131
... SVC Processing 16

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9988055449016492, fbs 0.9861916823269874
... SVC Processing 17

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9993425017807244, fbs 0.9924888506376652
... SVC Processing 18

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Test acc 0.9706646211166512, fbs 0.7148590079726042
... SVC Processing 19
Test acc 0.995057805051778, fbs 0.9616716122650841

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()